@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="p1">Engine Running!</p>
    <button  id="b1" type="submit">
        Test Me!
    </button>
</div>
